<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پولی کو</title>
    <link rel="stylesheet" href="css/StyleIndex.css">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="container">
                <a class="loginBtn" href="/login">ورود</a>
                <ul class="nav">
                    <li><a href="#statement">شرايط و ضوابط</a></li>
                    <li><a href="#statement">درباره پولی کو</a></li>
                </ul>
                <a href="/">  
                    <img src="assets/img/PolikooLogo.png" class="logo" alt="PolikooLogo">
              </a>
        </div>
    </nav>
    <!-- Main description -->
    <section class="section-a">
        <div class="container">
            <div class="full">
                <img src="assets/img/Group 22.png" class="mainPol" alt="PolikoJamkon">
            </div>
            <div>
                <h1>.قرعه کشی عادلانه از طریق آی پی فقط با پولی کو</h1>
                <div class="divd">
                    <p>
                        سلام. در پولی کو ثبت نام کنید
                         و با مجموع ارقام آی پی خود در قرعه کشی پولی کو شرکت کنید 
                         و شانس خود را بیازمایید تا در بین برندگان خوش شانس ما باشید.
                       برای داشتن اطلاعات بیشتر شرایط و ضوابط را بخوانید
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-b" id="statement">
        <div class="container">
            <div>
                <h4>.قرعه کشی شفاف بدون اجحاف</h4>
                <p>
                    موقعی که قرعه کشی شروع شد، شما به اختیار خودتان میتوانید
                    روی دکمه شروع کلیک کنید و به صورت شفاف، کسانی که برنده
                    می شوند، یا اینکه در قرعه کشی حضور دارند را، میتوانید به صورت
                    صریح مشاهده کنید. در این نوع از قرعه کشی هیچ پارتی بازی نخواهد شد
                </p>
            </div>

            <div>
                <h4>.شرایط و ضوابط</h4>
                <p>مهم ترین شرط این نوع قرعه کشی در عضویت آن است
                    اگر شما با آی پی ثابتی که در هنگام عضویت استفاده کنید، از
                    مجموع ارقام تشکیل دهنده همان آی پی در هنگام قرعه کشی 
                    استفاده خواهد شد، و اگر شما قصد دارید با یک شماره آی پی 
                    دیگری وارد قرعه کشی شوید، لزوم به ثبت نام جدید با یک 
                    نام کاربری خواهید بود
                    </p>
            </div>

            <div>
                <h4>چرا پولی کو؟</h4>
                <p>
                    پولی کو یک وبسایت قرعه کشی است، که صرفا و فعلا به عناون پروژه پایان ترم درس وب طراحی گردیده، هدف از این پروژه، میتوان به نبود اعتماد بین افراد برای برنده شدن و بردن جایزه به صورت عادلانه و قانونی بدون حتی ضایع شدن حق یک نفر، است
                </p>
            </div>
        </div>
    </section>

    <section class="section-c">
        <div class="container">
            <div>
                <img src="assets/img/idea.png" class="ideaImg" alt="">
            </div>

            <div>
                <h1>.نحوه قرعه کشی به صورت کامل</h1>
                <div class="divi">
                    <ul>
                        <li>
                            <p>
                                <b>اولین نکته</b>
                                ای که باید به یاد داشته باشید، 
                                این است که در هنگام ثبت نام شماره آی پی شما به همراه مجموع ارقام ثبت خواهد شد،
                                پس حین ثبت نام میتوانید آی پی خود را مشاهده کنید و از صحت آن در دیگر سایت ها مطمئن شوید، پس از ثبت نام
                                در زمان مشخص شده میتوانید وارد سایت شوید، اگه برنده شده باشید در لیست برنده ها خواهید بود، در غیر این صورت
                                شما در این دست پذیرفته نشده اید
                                و میتوانید بعدا شانس خود را امتحان کنید
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>نکته دوم</b> این است که، اگر دو یا چند نفر 
                                از اعضای باید ای پی در سایت ثبت نام کرده باشند، این
                                بدین معنا نیست که شانس آنها افزایش خواهد یافت، چرا که جمع آی پی اعضا
                                همه باهم یکسان خواهد بود و با عدد رندومی که در صفحه نمایش میابد احتمال کمتری وجود دارد
                                که در این دست پذیرفته و برنده شوند، اگه می خواهید شانس بیشتری پیدا کنید 
                                بایستی با شماره آی پی متفاوت دیگری وارد شوید، چرا که سیستم سر ساعت یک عدد بین 0-76 را نمایش میدهد
                                و اگر جمع ارقام آی پی این افراد با این عدد تصادفی یکسان شود در لیست برندگان خواهند بود
        
                               </p>
                        </li>
                        <li>
                            <p>
                                <b>نکته سوم</b> که مهمترین نکته به شمار می آید این است که ممکن است دو یا چند کاربر باهم 
                                برنده شوند، پس تکلیف آنها چیست؟ در حقیقت توسط مدیر جایزه، عادلانه بین آنها تقسیم خواهد شد
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    
    <section class="section-d">
        <div class="container">
            <div>
                <h1>پس منتظر چی هستی؟ همين الان امتحانش کن</h1>
            </div>
            <div class="form">
                <a href="login" class="loginSecond">ورود</a>
                <a href="signup" class="signUp">ثبت نام</a>
            </div>
        </div>
    </section>
    <div class="gap"></div>
    <footer class="foot">
      Alireza.codes  قدرت گرفته توسط 
    </footer>
    <script>
        const anchorLinks = document.querySelectorAll('a[href^="#"]');
        for (const item of anchorLinks){
            item.addEventListener('click', (e) =>{
                const hashVal = item.getAttribute('href');
                const target = document.querySelector(hashVal);
                target.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                })
                history.pushState(null, null, hashVal)
                e.preventDefault();
            })
        }
    </script>
</body>
</html>