<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام در پولی کو</title>
    <link rel="stylesheet" href="/css/signupStyle.css">
</head>
<body>

    <section class="section-b">
        <div class="container">
            <form action="upload_process" method="POST" class="nestedForm">
                <div class="form">
                    <input type="file" name="img"/>
                    <button class="loginSecond">ثبت نام</button>
                </div>
            </form>
        </div>

    </section>
</body>
</html>