@font-face {
  font-family: vazir;
  src: url("assets/font/Vazir.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: vazir;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #FFD928;
  display: flex;
  flex-direction: column;
}

.section-a .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 100px;
}

.section-a .container h5 {
  margin-top: 20px;
}

.section-a .container .polikoo {
  width: 60px;
}

.section-a .container .circular {
  width: 200px;
  height: 150px;
  background-color: #FFD928;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 1;
}

.section-b {
  align-self: center;
  align-items: center;
  margin-top: -150px;
  margin-bottom: 500px;
}

.section-b .container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  align-self: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px #858585;
}

.nestedForm {
  margin-top: 100px;
}

.section-b .container .username {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 300px;
  height: 60px;
  border: 2px solid transparent;
  align-items: center;
  box-shadow: 0 0 5px #b9b9b9;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.section-b .container .username:hover {
  box-shadow: 0 0 0;
  border: 2px solid #d3d312;
}

.usr {
  border: none;
  width: 230px;
  height: 50px;
  text-align: right;
  margin-left: 20px;
  outline: none;
}

.usrIcon {
  margin-right: 20px;
  margin-left: 20px;
  width: 38px;
}

.section-b .container .password {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 300px;
  height: 60px;
  align-items: center;
  box-shadow: 0 0 10px #858585;
  margin-top: 30px;
  box-shadow: 0 0 5px #b9b9b9;
  border-radius: 5px;
}

.pass {
  border: none;
  width: 230px;
  height: 50px;
  text-align: right;
  margin-left: 20px;
  outline: none;
}

.usrIcon {
  margin-right: 20px;
  margin-left: 20px;
  width: 38px;
}

.section-b .container .form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
}
.signupLink{
  margin-top: 15px;
  color: #858585;
  font-size: 12px;
}
.signupLink:hover{
  color: #000;
}


.loginSecond {
  width: 125px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FFD928;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  color: black;
  margin-top: -15px;
}

.loginSecond:hover {
  width: 125px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  color: black;
  border: 2px solid #FFD928;
  cursor: pointer;
}

.signUp {
  width: 150px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  color: black;
  margin-right: 15px;
}

.signUp:hover {
  width: 150px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FFD928;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  color: black;
  cursor: pointer;
}

.section-b .container .otherSignMethod{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.section-b .container .otherSignMethod .line-1{
  border-top: 2px solid #CCCCCC;
  width: 130px;
  align-self: center;
  margin-right: 10px;
}
.section-b .container .otherSignMethod .line-2{
  border-top: 2px solid #CCCCCC;
  width: 130px;
  align-self: center;
  margin-left: 10px;
}
.section-b .container .otherSignMethod .line-or{
  color: #acacac;
}
.section-b .container .signInMethod{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.section-b .container .signInMethod .gitLogin{
  display: flex;
  flex-direction: row-reverse;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  background-color: #393939;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #000000;
  transition: 0.1s ease-in-out;
  align-items: center;
}
.section-b .container .signInMethod .gitLogin:hover{
  box-shadow: 0 0 10px -1px #000000;
  cursor: pointer;
}
.section-b .container .signInMethod .gitLogin label{
  color: #FFF;
  margin-right: 30px;
}
.section-b .container .signInMethod .gitLogin #gitIcon{
  font-size: 40px;
  align-self: center;
  color: white;
  margin: 10px 0 0 14px;
}
.section-b .container .signInMethod .gitLogin .placeGit{
  width: 60px;
  height: 60px;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(0, 0, 0);
}


.section-b .container .signInMethod .googleLogin{
  display: flex;
  flex-direction: row-reverse;
  width: 300px;
  height: 60px;
  background-color: #F44336;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.1s ease-in-out;
  outline: none;
}

.section-b .container .signInMethod .googleLogin:hover{
  box-shadow: 0 0 10px -1px #000000;
  cursor: pointer;
}
.section-b .container .signInMethod .googleLogin label{
  color: #FFF;
  margin-right: 40px;
  align-self: center;
}
.section-b .container .signInMethod .googleLogin #googleIcon{
  font-size: 26px;
  align-self: center;
  color: white;
  margin: 18px 0 0 20px;
}
.section-b .container .signInMethod .googleLogin .placeGoogle{
  width: 60px;
  height: 60px;
  border-radius: 0px 5px 5px 0px;
  background-color:#C53126;
}
@media screen and (max-width: 650px) {
  .section-b .container {
    height: 650px;
  }
}
/*# sourceMappingURL=LoginStyle.css.map */