@font-face {
    font-family: vazir;
    src: url("../assets/font/Vazir.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: vazir;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #FFD928;
    display: flex;
    flex-direction: column;
}

.section-a .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 100px;
}

.section-a .container h5 {
    margin-top: 20px;
}

.section-a .container .polikoo {
    width: 60px;
}

.section-a .container .circular {
    width: 200px;
    height: 150px;
    background-color: #FFD928;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 1;
}

.section-b {
    align-self: center;
    align-items: center;
    margin-top: -150px;
    margin-bottom: 500px;
}

.section-b .container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 660px;
    align-self: center;
    text-align: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px #858585;
}

.nestedForm {
    margin-top: 100px;
    align-items: center;
}

.section-b .container .username {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 300px;
    height: 60px;
    border: 2px solid transparent;
    align-items: center;
    box-shadow: 0 0 5px #b9b9b9;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.section-b .container .username:hover {
    box-shadow: 0 0 0;
    border: 2px solid #d3d312;
}
.section-b .container h4{
    text-align: center;
    align-self: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: -70px;
    color: red;
}

.usr {
    border: none;
    width: 230px;
    height: 50px;
    text-align: right;
    margin-left: 20px;
    outline: none;
}

.usrIcon {
    margin-right: 20px;
    margin-left: 20px;
    width: 38px;
}

.section-b .container .password {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 300px;
    height: 60px;
    align-items: center;
    box-shadow: 0 0 10px #858585;
    margin-top: 30px;
    box-shadow: 0 0 5px #b9b9b9;
    border-radius: 5px;
}

.pass {
    border: none;
    width: 230px;
    height: 50px;
    text-align: right;
    margin-left: 20px;
    outline: none;
}

.usrIcon {
    margin-right: 20px;
    margin-left: 20px;
    width: 38px;
}

.section-b .container .form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-self: center;
    align-items: center;
}
.loginLink{
    margin-top: 20px;
    font-size: 13px;
    color: #a88a0a;
}

.loginSecond {
    width: 125px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #FFD928;
    font-size: 20px;
    border: 2px solid #FFD928;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: black;
}

.loginSecond:hover {
    width: 125px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid #FFD928;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: black;
    border: 2px solid #FFD928;
    cursor: pointer;
}

.signUp {
    width: 150px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid #FFD928;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: black;
    margin-right: 15px;
}

.signUp:hover {
    width: 150px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #FFD928;
    font-size: 20px;
    border: 2px solid #FFD928;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: black;
    cursor: pointer;
}
.attention {
    align-self: center;
    align-items: center;
    margin-top: 10px;
}
#randy {
    border: none;
    background-color: transparent;
    color: black;
    text-align: right;
    outline: none;
}

#ntCodeErr {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    margin-right: -100px;
}
@media screen and (max-width: 650px) {
    .section-b .container {
        height: 680px;
    }
}
/*# sourceMappingURL=LoginStyle.css.map */