@font-face {
  font-family: vazir;
  src: url("Vazir.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: vazir;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.navbar .container .logo {
  width: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  margin: 40px auto;
}

.navbar .container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar .container ul li {
  margin-left: 40px;
}

.navbar .container ul li a {
  color: #9F9F9F;
}

.navbar .container ul li a:hover {
  color: black;
}

.navbar .container ul li:hover {
  color: black;
  cursor: pointer;
}

.navbar .container .loginBtn {
  width: 150px;
  height: 38px;
  border: none;
  outline: none;
  color: #000;
  border-radius: 5px;
  background-color: #FFD928;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.navbar .container .loginBtn:hover {
  background-color: transparent;
  border: 2px solid #FFD928;
  cursor: pointer;
}

.section-a .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 70px 80px;
}

.section-a .container h1 {
  text-align: right;
  margin-bottom: 50px;
}

.section-a .container p {
  text-align: right;
  color: black;
  margin-right: 20px;
  font-weight: 300;
}

.textDeco h1 {
  text-align: right;
  color: black;
  margin-bottom: 50px;
}

.textDeco .deco {
  text-align: right;
  color: #9F9F9F;
}

.decoholder p {
  margin-right: 20px;
}

.decoholder {
  border-right: 2px solid #9F9F9F;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.full {
  height: 100%;
  top: 0;
  margin-right: 50px;
  animation: anime 1s ease;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rule {
  width: 150px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FFD928;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin-top: 20px;
  align-self: flex-end;
}

.rule:hover {
  background-color: transparent;
  border: 2px solid #FFD928;
  cursor: pointer;
}

.mainPol {
  width: 400px;
}

.section-b {
  background-color: #fafafa;
}

.section-b .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 40px 80px;
}

.section-b .container h4 {
  text-align: right;
  margin-bottom: 50px;
}

.section-b .container p {
  text-align: right;
  color: black;
  font-weight: 300;
}

.section-c .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 70px 80px;
}

.section-c .container h1 {
  text-align: right;
  margin-bottom: 50px;
}

.section-c .container p {
  text-align: right;
  color: black;
  margin-right: 20px;
  font-weight: 300;
}

.section-c .container ul {
  text-align: right;
  align-self: flex-end;
  align-items: flex-end;
  direction: rtl;
}

.section-c .container ul li {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 30px;
}

.divi {
  text-indent: 50px;
}

.divd {
  border-right: 2px solid #9F9F9F;
}

.ideaImg {
  width: 300px;
  animation: animeIdea 1s ease;
  margin-left: 50px;
  margin-bottom: 50px;
}

.section-d {
  margin-top: 50px;
}

.section-d .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-d .container h1 {
  color: black;
  margin-bottom: 15px;
}

.section-d .container .form {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.loginSecond {
  width: 150px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FFD928;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  color: black;
}

.loginSecond:active {
  background-color: transparent;
  border: 2px solid #FFD928;
  color: black;
  cursor: pointer;
}

.signUp {
  width: 150px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 2px solid #FFD928;
  font-size: 20px;
  border: 2px solid #FFD928;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin-right: 15px;
  color: black;
}

.signUp:active {
  background-color: transparent;
  background-color: #FFD928;
  cursor: pointer;
  color: black;
}

.foot {
  align-self: center;
}

.gap {
  margin-top: 50px;
}

@keyframes animeIdea {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .section-d .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .navbar .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px auto;
  }
  .navbar .container .logo {
    width: 30px;
  }
  .navbar .container ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar .container .loginBtn {
    margin-top: 15px;
  }
  .mainPol {
    width: 200px;
    margin-bottom: 50px;
  }
  .textDeco .deco {
    text-align: justify;
    color: #9F9F9F;
  }
  .deco {
    margin-right: 0px;
  }
  .full {
    margin-right: 0px;
  }
  .section-b .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .section-a .container {
    display: flex;
    flex-direction: column;
  }
  .section-a .container div {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .section-b .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .section-c .container {
    display: flex;
    flex-direction: column;
  }
  .section-c .container div {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .ideaImg {
    width: 300px;
    animation: animeIdea 1s ease;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .section-d .container h1 {
    text-align: center;
  }
  .section-d .container .form {
    display: flex;
    flex-direction: column;
  }
  .loginSecond {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=styleIndex.css.map */